h1{
    color: #0436bd;
    margin-left: 50px;
    font-family: 'Rozha One', serif;
    font-size: 28pt;
    margin-bottom: 15px;
}

.hr-div{
    background-color: black;
    height: 1px;
    width: 1170px;
    transform: translateX(-50px);
}

.menu-items {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
  }

.menu-item{
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: 100;
    white-space: nowrap;
}
#home{
    color:#0436bd;
}


.parallax-main {
  background-image: url('./assets/images/Cutlery.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1044px auto;
  height: 590px;
  width: 1000px;
  margin-left: 50px;
  background-position: 10px -78px;
}

  .parallax-text {
    position: absolute;
    font-size: 42pt;
    margin-left: 45px;
    margin-top: 50px;
    font-weight: 100;
    font-family: 'Rozha One', serif;
    color: #0436bd;
    white-space: nowrap;
  }

.parallax-button {
    position: absolute;
    border: none;
    height: 45px;
    width: 106px;
    background-color: white;
    margin-left: 50px;
    margin-top: 250px;
    padding: 0px 0px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
  }

.after-parallax-text{
    position: absolute;
    font-weight: 600;
    font-family: 'Rozha One', serif;
    margin-top: 60px;
    margin-left: 349px;
    white-space: nowrap;
    font-size: 25pt; 
    color: #0f35af;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 145px;
    
  }

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    text-align: center;
    margin-top: 40px;
    font-family: 'Rozha One', serif;
    font-weight: 900;
    color: #0436bd;
    margin-bottom: 45px;
    font-size: 15pt;
  }
