.tableDiv, .logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoppingheading{
    font-style: bolder 32px black;
    margin-top: 29px;
    padding: 0px;
}
#ebaylogo{
    height: 80px;
    width: 190px;
}

table{
    border-collapse: collapse;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid grey;
    border-collapse: collapse;
}

td{
    padding: 10px;
    border: 0.1px solid grey;  
}

.no-results-message{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.results-found-heading{
    margin-top: 40px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.results-found-hr{
    width: 790px;
    border: 1px solid lightgray;
    margin-bottom: 7px;
    position: relative;
}

button {
    padding: 7px 7px;
    margin: 0px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    background-color: #dadada;
}

button:hover {
    color: white;
    background-color: #33cd32;
}

.mandatory{
    color: red
}

.table{
    text-align:center
}

#sortBy{
    border-radius: 4px;
    background-color: white;
    background: transparent;
    text-align: center;
}

.minmax{
    width: 20px;
}

.adjDiv{
    display: inline-block; 
    padding: 0px 2px; 
}

.adjDiv0{
    display: inline-block;   
    padding: 0px 2px; 
}

.adjDiv1{
    display: inline-block;   
    padding: 0px 4px; 
}

.adjDiv2{
    display: inline-block;   
    padding: 0px 1px; 
}

.adjDiv3{
    display: inline-block;   
    padding: 0px 1px; 
}

.adjDiv4{
    display: inline-block;   
    padding: 0px 1px; 
}

.adjDiv5{
    display: inline-block;   
}

.adjDiv6{
    display: inline-block;   
}

#priceRange{
    color: black;
    font-weight: bold;
}
#condition{
    color: black;
    font-weight: bold;
}

#keywords-label{
    color: black;
    font-weight: bold;
}

#seller{
    color: black;
    font-weight: bold;
}

#shipping{
    color: black;
    font-weight: bold;
}

#sortByTxt{
    color: black;
    font-weight: bold;
}

#keyword-text{
    width: 168px;
}

.txt1{
    width: 65px;
}

.showMoreLessBtn{
    margin-left: 440px;
}

img{
    height: 83px;
    width: 194px;
}

.product-card {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 1px 0px;
    background-color: #f4f2f5;
    width: 770px;
    align-items: center;
    justify-content: center;
}

.product-card:hover {
   box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.product-card img {
    width: 140px;
    height: 140px;
    margin-right: 15px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.category img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0px;
}

.condition img {
    width: 25px;
    height: 35px;
    vertical-align: middle;
    margin-top: -8px;
    margin-left: 0px;
}

.output button{
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}

.product-name{
      width: 556px;
      font-weight: bold;  
}

.bold-name{
    overflow: hidden;
    text-overflow: ellipsis;      
    white-space: nowrap;
}

.product-card .product-image {
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.product-card .product-image img{
    height: auto;
    width: auto;
    justify-self: center;
    align-self: center;
    border: 2px solid #acaaab;
}

.product-card .product-image img:hover{
    transform: scale(1.5);  
}

.product-card div {
    display: inline-flex;
    flex-direction: column;
    padding: 9px 13px;
    flex: 1;
}

.product-card .category{
    flex-direction: row;
    gap: 5px;
}

.product-card .condition {
    flex-direction: row;
    gap: 5px;
}

.button-area{
    text-align: center;
    padding: 10px;
    margin-top: 500px;
}

.no-results{
    margin-left: 682px;
}

.item-details-heading{
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.item-details-table{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 800px;
    margin-left: -8px;
    border: 2px solid #dbdbdb;
    border-collapse: collapse;
    border-spacing: 0;
}

.item-details-table th, 
.item-details-table td {
    border: 2px solid #dbdbdb;
    padding-left: 6px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-overflow: hid;
    overflow: hidden;
    white-space: nowrap;
}

.product-details {
    display: flex;
}

.product-details > div {
    flex: 1;
    padding: 10px;
}

#inlinePhoto{
    height: 210px;
    margin: 0px;
}