body {
    background-color: #d8d8d8;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Base styles for larger screens */
.form-container {
    background-color: #22242a;
    color: white;
    border-radius: 5px;
    width: 900px;
    padding: 1px 1px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: auto;
}

/* Media query for iPhone 12 Pro screen size and similar */
@media only screen and (max-width: 390px) {
    .form-container {
        width: 100%; /* Set width to full viewport width */
        margin: 0 10px; /* Adjust margin to ensure some space on the sides */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        padding: 1px 10px; /* Adjust padding for smaller screen */
        font-family: sans-serif;
        font-size: 14px; /* Optional: Adjust font size for smaller screens */
    }
}


/* This is the default style, which applies when the screen width is above 900px */
.productTabStyle table {
    width: 900px;
    margin: 0 auto; /* This centers the table */
  }
  
  /* This media query applies when the screen width is 900px or less */
  @media (max-width: 900px) {
    .productTabStyle table {
      width: 100%; /* This makes the table width 100% of its container */
      max-width: 900px; /* This ensures the table doesn't exceed 900px width */
    }
  }
  
  /* This media query applies when the screen width is 390px or less, like the iPhone 12 Pro */
  @media (max-width: 390px) {
    .productTabStyle table {
      width: 100%; /* This makes the table width 100% of its container */
      max-width: 390px; /* This ensures the table doesn't exceed the iPhone 12 Pro screen width */
      box-sizing: border-box; /* This ensures padding and borders are included in the total width and height */
      padding: 0 10px; /* This adds some padding so the content doesn't touch the edges */
    }
    .productTabStyle table, .productTabStyle td, .productTabStyle th {
      /* Adjusting table, cell padding, and text size for smaller screens for better readability */
      padding: 8px;
      font-size: 14px;
    }
  }
  

  /* Default style for larger screens */
.shippingTabStyle table {
    width: 900px;
    margin: 0 auto; /* Centers the table */
  }
  
  /* Style for medium screens (900px or less) */
  @media (max-width: 900px) {
    .shippingTabStyle table {
      width: 100%; /* Table width is 100% of its container */
      max-width: 900px; /* Maximum width of the table is 900px */
    }
  }
  
  /* Style for small screens (iPhone 12 Pro and similar) */
  @media (max-width: 390px) {
    .shippingTabStyle table {
      width: 100%; /* Table width is 100% of its container */
      max-width: 390px; /* Maximum width of the table is the width of iPhone 12 Pro */
      box-sizing: border-box; /* Include padding and borders in the width and height */
      padding: 0 10px; /* Add padding to prevent content from touching the screen edges */
    }
    .shippingTabStyle table, .shippingTabStyle td, .shippingTabStyle th {
      padding: 8px;
      font-size: 14px; /* Smaller font size for better readability on small screens */
    }
    .shippingTabStyle img {
      max-width: 100%; /* Ensure images are not larger than their containers */
      height: auto; /* Maintain aspect ratio of images */
    }
  }
  


/* Default style for larger screens */
.sellerTabStyle table {
  width: 900px;
  margin: 0 auto; /* Centers the table */
}

/* Style for medium screens (900px or less) */
@media (max-width: 900px) {
  .sellerTabStyle table {
    width: 100%; /* Table width is 100% of its container */
    max-width: 900px; /* Maximum width of the table is 900px */
  }
  .sellerTabStyle td, .sellerTabStyle th {
    font-size: 16px; /* Slightly reduce font size for medium screens */
  }
}

/* Style for small screens (iPhone 12 Pro and similar) */
@media (max-width: 390px) {
  .sellerTabStyle table {
    width: 100%; /* Table width is 100% of its container */
    max-width: 390px; /* Maximum width of the table is the width of iPhone 12 Pro */
    box-sizing: border-box; /* Include padding and borders in the width and height */
    padding: 0 10px; /* Add padding to prevent content from touching the screen edges */
  }
  .sellerTabStyle td, .sellerTabStyle th {
    padding: 8px;
    font-size: 14px; /* Reduce font size for better readability on small screens */
  }
  .sellerTabStyle .circle-progress {
    transform: scale(0.8); /* Scale down the circular progress bars */
  }
  .sellerTabStyle mat-icon {
    font-size: 30px; /* Reduce size of icons for small screens */
  }
  .sellerTabStyle img {
    max-width: 100%; /* Ensure images are not larger than their containers */
    height: auto; /* Maintain aspect ratio of images */
  }
}


/* Default style for larger screens */
.responsive-wishlist-table table {
    width: 900px;
    margin: 0 auto; /* Centering the table */
}

/* Style for medium screens (900px or less) */
@media (max-width: 900px) {
  .responsive-wishlist-table table {
    width: 100%; /* Table takes the full width of its container */
    max-width: 900px; /* Ensures the table doesn't exceed 900px in width */
  }
}

/* Style for small screens (like iPhone 12 Pro) */
@media (max-width: 390px) {
  
  .responsive-wishlist-table table, .responsive-wishlist-table td, .responsive-wishlist-table th {
    padding: 8px; /* Adjusts padding for better readability */
    font-size: 14px; /* Adjusts font size for small screens */
  }
  
  .responsive-wishlist-table img {
    max-width: 100%; /* Makes images responsive */
    height: auto; /* Maintains aspect ratio of images */
  }

  .responsive-wishlist-table .product-name {
    max-width: 100px; /* Adjusts the width for product names */
    white-space: normal; /* Allows text to wrap */
  }

  /* Specific adjustments for buttons on small screens */
  .responsive-wishlist-table .btn {
    padding: 4px 8px; /* Reduces padding for small buttons */
    font-size: 12px; /* Reduces font size for text in buttons */
    min-width: 34px; /* Ensures the button is not too narrow */
    min-height: 28px; /* Ensures the button is not too short */
  }

  /* Adjusting the size of the wishlist icon inside the button */
  .responsive-wishlist-table .btn img {
    width: 20px; /* Reducing the size of images within the buttons */
    height: 20px; /* Reducing the size of images within the buttons */
  }
}



/* Default style for larger screens */
.responsive-table table {
    width: 900px;
    margin: 0 auto; /* Centering the table */
  }
  
.responsive-table .pagination {
flex-wrap: nowrap; /* Prevent pagination items from wrapping */
}

  /* Style for medium screens (900px or less) */
  @media (max-width: 900px) {
    .responsive-table table {
      width: 100%; /* Table takes the full width of its container */
      max-width: 900px; /* Ensures the table doesn't exceed 900px in width */
    }
  }
  
  /* Style for small screens (like iPhone 12 Pro) */
  @media (max-width: 390px) {

    .responsive-table .pagination {
        font-size: 12px; /* Reduce font size */
        justify-content: center; /* Center pagination items */
      }
    
    .responsive-table .pagination .page-item {
    margin: 0 2px; /* Reduce space between pagination items */
    }

    .responsive-table .pagination .page-link {
    padding: 5px 8px; /* Reduce padding inside pagination links */
    }

    .responsive-table table {
      width: 100%; /* Table takes the full width of its container */
      box-sizing: border-box; /* Ensures padding and borders are included in width */
    }
  
    .responsive-table table, .responsive-table td, .responsive-table th {
      padding: 8px; /* Adjusts padding for better readability */
      font-size: 14px; /* Adjusts font size for small screens */
    }
    
    .responsive-table img {
      max-width: 100%; /* Makes images responsive */
      height: auto; /* Maintains aspect ratio of images */
    }
  
    .responsive-table .product-name {
      max-width: 100px; /* Adjusts the width for product names */
      white-space: normal; /* Allows text to wrap */
    }
  
    /* Adjustments for other elements like buttons if needed */
    .responsive-table .btn {
      padding: 4px 8px; /* Reduces padding for small buttons */
      font-size: 12px; /* Reduces font size for text in buttons */
    }
  }


  .no-data-message {
    width: 900px; 
    height: 30px; 
    background-color: #fff3cd; 
    color: #997c27; 
    margin-top: 20px; 
    border: solid 4px #fff3cd; 
    padding-left: 10px; 
    font-size: 12px; 
    font-weight: bold;
  }

  @media only screen and (max-width: 390px) {
    .no-data-message {
      width: 390px; /* Or you can set a specific width smaller than 900px */
    }
  }

.mandatory {
    color: red;
}

input.is-invalid {
    border: 1px solid red;
}

.fixed-width-table-container {
    width: 900px; /* Adjust to the desired width */
    margin: 0 auto; /* Center the table on the page */
}

.product-name {
    max-width: 350px; /* adjust this value according to your needs */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1f7bff;
}

.pagination.no-border .page-link, .pagination.no-border .page-link:focus {
    border: none;
    color: black;
    outline: none;
    box-shadow: none;
    /* transition: background-color 0.3s; */
    /* background-color: "#18669c"; */
}
.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:focus {
    background-color: #2796e4;
    color: white;
    border: none
}

.pagination .page-item.disabled .page-link {
    background-color: white;
    color: lightgray;
    cursor: not-allowed;
}

.custom-card .card-title a {
    color: #325e5d;
}
.custom-card {
    font-size: 14px; /* Adjust size as needed */
}
.custom-card .card-title {
    font-size: 16px; /* Adjust size as needed */
}

.itemDetailsRow:nth-child(odd){
    background-color: rgb(34, 36, 41);
}

.itemDetailsRow:nth-child(even){
    background-color: rgb(46, 48, 52);
  }

.selected-row {
    background-color: #b2b4b5 !important;
}

#productDetailTable {
    width: 900px; /* Change this value to your desired width */
}

#productDetailTable td {
    max-width: 450px; /* Half of the table width, adjust as needed */
    overflow: hidden; /* Ensure content doesn't overflow */
    text-overflow: ellipsis; /* Display an ellipsis (...) if the content overflows */
    white-space: nowrap; /* Prevent text wrapping to the next line */
}

#shippingDetailTable {
    width: 900px; /* Change this value to your desired width */
}

#shippingDetailTable td {
    max-width: 450px; /* Half of the table width, adjust as needed */
    overflow: hidden; /* Ensure content doesn't overflow */
    text-overflow: ellipsis; /* Display an ellipsis (...) if the content overflows */
    white-space: nowrap; /* Prevent text wrapping to the next line */
}

#sellerDetailTable {
    width: 900px; /* Change this value to your desired width */
}

#sellerDetailTable td {
    max-width: 450px; /* Half of the table width, adjust as needed */
    overflow: hidden; /* Ensure content doesn't overflow */
    text-overflow: ellipsis; /* Display an ellipsis (...) if the content overflows */
    white-space: nowrap; /* Prevent text wrapping to the next line */
}

#sellerDetailTable thead td {
    text-overflow: clip; /* Allow the header to clip instead of showing ellipsis for better presentation */
}

.container-fluid {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.card .img-fluid {
    width: 100px; /* specify width */
    height: 100px; /* specify height */
    object-fit: cover;
}

.product-image-container {
    max-width: 900px;
    margin: 0 auto; /* centers the container */
}

/* Custom styles for tabs */

/* When a tab is inactive */
.nav-tabs .nav-link, .nav-pills .nav-link {
    background-color: transparent;
    color: black;
}

/* When a tab is active */
.nav-tabs .nav-link.active, .nav-pills .nav-link.active {
    background-color: black;
    color: white;
    border: none; /* Removing any default border Bootstrap might add */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
